@{
    ViewData ["Title"] = "Crear Genero";
}
<form method="POST">
    <div class="mb-3">
        <label class="form-label">Nombre Genero</label>
        <input type="text" class="form-control" name="IdGenero" value="0" style="display: none">
        <input type="text" class="form-control" name="Genero">
    </div>
    <button type="submit" class="btn btn-outline-dark">Crear Genero</button>
</form>
